.header {
  display: flex;
  justify-content: space-between;
	align-items: center;
  height: 5.5em;
  padding: 0 5.5em 0 6.5em;
  background-color: #040440;
}

.header--uppercase {
  text-transform: uppercase;
}

.header__title {
  width: 15.5em;
  margin-top: -4px;
  margin-inline-end: auto;
}

.header__menu {
  width: 30em;
  margin-right: 7.6em;
  padding-bottom: 5px;
}

.menu {
  display: flex;
  justify-content: space-between;
}

.menu__link {
  color: #ffffff;
  text-decoration: none;
}
